header {
    text-align: center;
    background-color: black;
    color: white;
    border: 10px solid black;
    margin: -8px;
}

h1 {
    font-size: 120px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#milton {
    font-size: 20px;
    margin-top: -40px;
    margin-bottom: 40px;
}

main {
    font-size: 60px;
}

#estrofe01 {
    margin-top: 150px;
    margin-bottom: 250px;
    padding-left: 40px;
}

#estrofe02 {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 200px;
    margin-left: -8px;
    margin-right: -8px;
    color: white;
    background-image: url(imagens/background001.jpg);
    background-size: cover;        /* faz a imagem cobrir tudo */
    background-position: center;   /* centraliza */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#abelinha {
    background-color: rgba(0, 0, 0, 0.87);
    margin: 5px;
    margin-right: 1140px;
    margin-left: 30px;
    padding-left: 10px;
}

#estrofe03 {
    margin-top: 150px;
    margin-bottom: 250px;
    padding-left: 40px;
}

#estrofe04 {
    margin-top: 150px;
    margin-bottom: 250px;
    padding-left: 40px;
}

#estrofe05 {
    padding: 30px 30px;
    margin-left: -8px;
    margin-right: -8px;
    background-image: url(imagens/background002.jpg);
    background-attachment: fixed;
}

#livro {
    background-color: rgba(0, 0, 0, 0.377);
    margin-right: 1050px;
    color: white;
}

#estrofe06 {
    margin-top: 150px;
    margin-bottom: 250px;
    padding-left: 40px;
}

#estrofe07 {
    margin-top: 150px;
    margin-bottom: 250px;
    padding-left: 40px;
}

footer {
    font-size: 20px;
    background-color: black;
    text-align: center;
    color: white;
    padding-bottom: 1px;
    padding-top: 4px;
    margin-bottom: 8px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -8px;
}

